* {
    padding: 0;
    margin: 0;
}


html, body, #skel {
    width: 100%;
    height: 100%;
}


#skel {
    position: absolute;
}
.vmiddle {
    margin-top: 150px;
}

.box {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 30px;
}

header {
    Background: #3f3f3f;
    width: 100%;
    height: 27px;
    position: fixed;
    color: #eeeeec;
    font-size: 12px;
}

header a{
    text-decoration: none;
    color: white;

}
header a:hover {
    text-decoration: none;
    color: orange;
}
.vmenu {
    list-style: none;
    padding: 3px 10px;
}
.vmenu li {
    display: inline;
    padding: 0px 10px;
}

.login_bg {
    position: fixed;
    background: url("/statics/img/background.jpg") no-repeat scroll 50% 0px / cover rgb(20, 21, 22);
    color: rgb(248, 248, 248);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.box {
    Background: white;
}