{% load i18n %}
<div class="row">

  <div class="input-append ">
    <input class="span2" id="layer-search-input" type="text" placeholder="{% trans "search" %}...">
    <button class="btn" type="button"><i class="icon-search" id="layer-search"></i></button>
  </div>
  <button type="button" class="btn btn-success" id="add-layer"><i class="icon-plus"></i></button>
</div>

<table>
  <% _.each(layers, function(layer) { %>
    <tr>
      <td><%= layer.name %></td>
    </tr>
  <% }) %>
</table>
