* {
    padding: 0;
    margin: 0;
}


html, body {
    width: 100%;
    height: 100%;
}

.vmiddle {
    margin-top: 150px;
}

.box {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 30px;
}