{% load i18n %}
{% get_language_info for LANGUAGE_CODE as lang %}

<!DOCTYPE HTML>
<html lang="{{ lang.code }}">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <title>{% block title %}{% trans "Sharamaan" %}{% endblock title %}</title>

  {% block head %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">

  {% if lang.bidi %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/bidi/bootstrap.rtl.css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/bidi/style.css">

  {% else %}
  {% endif %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/font-awesome.min.css">

  <link rel="stylesheet" href="{{ MEDIA_URL }}css/common.css">


  {% block extrahead %}
  {% endblock extrahead %}
  {% endblock head %}


</head>

<body>
  <div id="skel">
  {% block body %}

  <header>
    <nav class="pull-{% if lang.bidi %}right{% else %}left{% endif %}">
      <ul class="vmenu">
	<li><a href="/"><i class="icon-map-marker"></i> {% trans "Map" %}</a></li>
	<li><a href="/setttings/"><i class="icon-cog"></i> {% trans "Settings" %}</a></li>
	<li><a href="/help/"><i class="icon-book"></i> {% trans "Help" %}</a></li>
      </ul>
    </nav>
    <nav class="pull-{% if lang.bidi %}left{% else %}right{% endif %}">
      <ul class="vmenu">
	<li>{{ request.user.username }}</li>
	<li><a href="{% url "logout" %}"><i class="icon-signout"></i> {% trans "logout" %}</a></li>
      </ul>

    </nav>
  </header>

    {% block content %}

    {% endblock content %}

  {% endblock body %}
  </div>
</body>
</html>
