{% extends 'base.html' %}
{% load i18n %}

{% block extrahead %}

{% include 'include/openlayers.html' %}
{% include 'include/ole.html' %}
<script src="{{ MEDIA_URL}}js/lib/require.js" data-main="{{ MEDIA_URL }}/js/main.js" type="text/javascript"></script>

<!--<script src="{{ MEDIA_URL}}js/init.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL}}js/map.js" type="text/javascript"></script>-->

<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL}}css/map.css">
{% endblock extrahead %}

{% block content %}
<div id="panel">
  <div id="panelheader">
    <ul class="vmenu">
      <li><a href="#search"><i class="icon-search"></i> {% trans "Search" %}</a></li>
      <li><a href="#layers"><i class="icon-align-justify"></i> {% trans "Layers" %}</a></li>
    </ul>
  </div>
  <div id="panelcontent">
    چند حکلخ
  </div>
</div>
<div id="statusbar">
  <div>
    تام لایه
  </div>
</div>

<div id="map">
</div>
{% endblock content %}


{% block tail %}
{% include "erb/index.html" %}
{% endblock tail %}
